* {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style-type: none;
}

/*主体部分*/
#content {
	width: 100%;
	height: 100%;
/*
	top: 20%;
	left: 20%;
	*/
	overflow: hidden;
	position: absolute;
	/*border: 1px solid #ccc;*/
}

.content-wrap {
	position: relative;
}

.content-wrap > li {
/*
	width: 100%;
	height: 100%;
	background: #CAE1FF;
	color: red;

*/	float: left;
	overflow: hidden;
	position: relative;

}

li:nth-child(2) {
	background: #9BCD9B;
}

li:nth-child(3) {
	background: yellow;
}

button {
	width: 80px;
	height: 50px;
}

.button {
	position: absolute;
	bottom: 0;
}

.pauseWalk {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
}

.character {
	width: 151px;
	height: 291px;
	background: url("http://img.mukewang.com/55ade248000198ae10550582.png") -0px -291px no-repeat;
	position: absolute;
	/* 设置一个元素的坐标 */
	left: 6%;
	top: 55%;
} 
.slowWalk {
	/* 填入动画样式规则 */
	/* 规定 @keyframes 动画的名称 */
	-webkit-animation-name: person-slow;
	/* 规定动画完成一个周期所花费的秒或者毫秒。默认是0 */
	-webkit-animation-duration: 950ms;
	-webkit-animation-iteration-count: infinite;
	/* 动画切换的方式是一帧一帧的改变 */
	-webkit-animation-timing-function: steps(1, start);
	-moz-animation-name: person-slow;
	-moz-animation-duration: 950ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: steps(1, start);
}

/* 普通慢走 */

@-webkit-keyframes person-slow {
	0% {
		background-position: -0px -291px;
	}
	25% {
		background-position: -602px -0px;
	}
	50% {
		background-position: -302px -291px;
	}
	75% {
		background-position: -151px -291px;
	}
	100% {
		background-position: -0px -291px;
	}
}

@-moz-keyframes person-slow {
	0% {
		background-position: -0px -291px;
	}
	25% {
		background-position: -602px -0px;
	}
	50% {
		background-position: -302px -291px;
	}
	75% {
		background-position: -151px -291px;
	}
	100% {
		background-position: -0px -291px;
	}
}